body{
    background-image: linear-gradient(to right, rgb(20, 220, 63), rgb(13, 54, 39));
        height: 100vh;
        width: 100vw;
        display: grid;
        justify-content: center;
        align-items: center;
}

h1{
    font-family: Josefin Sans;
    font-size: 50px;
}

hr{
    font-weight: bold;
    height: 0.188rem;
    background: black;
    margin-bottom: 0.625rem;
}

.container{
    text-align: center;
}

.stage{
    border: 0.063em solid black;
}

.square{
    width: 6.25rem;
    height: 6.25rem; 
    background-color: bisque;
    border: 0.063rem  solid black;
    display: inline-block;
}

.o{
    position: relative;
}

.o::after{
    position: absolute;
    content: "\1F17E";
    font-size: 50px;
    line-height: 6.25rem; 
    top: 0;
    bottom: 0;
    left: 0;
    right : 0;
}

.x{
    position: relative;
}

.x::after{
    position: absolute;
    content: "\274E";
    font-size: 50px;
    line-height: 6.25rem; 
    top: 0;
    bottom: 0;
    left: 0;
    right : 0;
}

@media (max-width: 320px) {
    body {                
        font-size: 75%;
        font-family: Arial, Helvetica, sans-serif;
        background-image: linear-gradient(to right, rgb(20, 220, 63), rgb(17, 71, 51));
        width: 6.25rem;
        height: 6.25rem; 
    }

    .square {
    width: 6.25rem;
    height: 6.25rem; 
    background-color: bisque;
    border: 0.063rem  solid black;
    display: inline-block;

    }

}